<!DOCTYPE html>
<html lang="ja">

<!-- ｡:*:☆•·················•·················•·················•☆:*｡-->
<!-- ☆☆☆ head -->
<!-- ｡:*:☆•·················•·················•·················•☆:*｡-->

<head>

    <!-- *.☆.* 文字コード *.☆.* -->
    <meta charset="UTF-8">

    <!-- *.☆.* スマホ対応 *.☆.* -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- *.☆.* タブ名 *.☆.* -->
    <title>{{ page.title }} | 宵ノ蒐集館</title>

    <!-- *.☆.* CSS *.☆.* -->
    <link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}">

</head>

<!-- ｡:*:☆•·················•·················•·················•☆:*｡-->
<!-- ☆☆☆ body -->
<!-- ｡:*:☆•·················•·················•·················•☆:*｡-->

<body>

    <!-- *.☆.* 固定ヘッダー *.☆.* -->
    {% include header.html %}

    <!-- *.☆.* 月の導き *.☆.* -->
    {% include menu.html %}

    <!-- *.☆.* 一覧本文 *.☆.* -->
    <main class="article-main">

        {{ content }}

    </main>

    <!-- *.☆.* JavaScript *.☆.* -->
    <script src="{{ '/js/menu.js' | relative_url }}"></script>

</body>

</html>